In [15]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from models_2.LogisticRegression import lr_param_selector
from models_2.RandomForet import rf_param_selector
from sklearn.linear_model import LogisticRegression

In [22]:
df = pd.read_csv("train.csv")
df.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1

In [4]:
def encodeing_df(df):
        col_name = []
        label_encoder = LabelEncoder()
        for (colname, colval) in df.iteritems():
            if colval.dtype == 'object':
                col_name.append(colname)
        for col in col_name:
            df[col] = label_encoder.fit_transform(df[col])
        return df

In [5]:
def replace_null(df):
        col_nan = []
        for (colname, colval) in df.iteritems():
            if df[colname].isnull().values.any() == True:
                col_nan.append(colname)
        for col in col_nan:
            mean_value = df[col].mean()
            df[col].fillna(value=mean_value, inplace=True)
        return df

In [6]:
def scaling(df):
        x = df.iloc[:, :-1]  # Using all column except for the last column as X
        y = df.iloc[:, -1]  # Selecting the last
        m = x.max() - x.min()
        m = m.to_dict()
        l = []
        for key, val in m.items():
            if val == 0:
                l.append(key)
        for i in l:
            x = x.drop([i], axis=1)
        df_norm = (x-x.min())/(x.max()-x.min())
        df_norm = pd.concat((df_norm, y), 1)
        return df_norm

In [7]:
def cal_mean(df):
        df_mean = df.mean(axis=0).mean(axis=0)
        return df_mean

In [8]:
def cal_std(df):
        col_std = df.std()
        col = col_std.mean(axis=0)
        return col

In [23]:
def pre_proses_data(df):
        df = encodeing_df(df)
        df = replace_null(df)
        df=scaling(df)
        return df

In [24]:
df=pre_proses_data(df)

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_20392\1315307739.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname, colval) in df.iteritems():
C:\Users\Mohamed\AppData\Local\Temp\ipykernel_20392\1415089235.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname, colval) in df.iteritems():
C:\Users\Mohamed\AppData\Local\Temp\ipykernel_20392\575281343.py:13: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df_norm = pd.concat((df_norm, y), 1)

In [25]:
df.head(10)

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0.000000,0.50,0.000000,0.000000,0.117647,0.333333,0.0,0.000000,0.020316,1.0,0.000000,0.433333,0.25,1.0,0.846154,0.0,0.125000,0.00,0
1,0.000028,0.50,0.000000,0.166667,0.117647,0.000000,0.0,0.000000,0.264108,1.0,0.545455,0.933333,0.00,0.0,0.000000,0.0,0.133796,0.00,0
2,0.000056,0.50,0.000000,0.000000,0.058824,0.000000,0.0,0.000000,0.711061,1.0,1.000000,0.033333,0.00,0.0,0.000000,0.0,0.096296,0.00,0
3,0.000084,0.25,0.000000,0.000000,0.117647,0.333333,0.0,0.000000,0.072235,1.0,1.000000,0.000000,0.25,0.0,0.000000,0.0,0.103704,0.00,0
4,0.000112,0.50,0.000000,0.166667,0.000000,0.000000,0.0,0.000000,0.582393,1.0,0.818182,0.500000,0.00,0.0,0.000000,0.0,0.185185,0.00,1
5,0.000140,0.00,0.222222,0.333333,0.294118,0.000000,0.0,0.333333,0.485327,1.0,0.818182,0.166667,0.25,0.0,0.000000,0.0,0.392704,0.00,1
6,0.000168,0.50,0.000000,0.000000,0.058824,0.666667,0.0,0.000000,0.722348,1.0,0.636364,0.566667,0.00,0.0,0.000000,0.0,0.212963,0.25,1
7,0.000196,0.50,0.000000,0.000000,0.117647,0.666667,0.0,0.000000,0.598194,1.0,0.454545,0.766667,0.00,0.0,0.000000,0.0,0.161111,0.00,0
8,0.000224,0.50,0.000000,0.333333,0.176471,0.000000,0.0,0.000000,0.426637,1.0,0.818182,0.233333,0.00,0.0,0.000000,0.0,0.134722,0.00,0
9,0.000252,0.75,0.000000,0.000000,0.176471,0.000000,0.0,0.000000,0.309255,1.0,1.000000,0.700000,0.25,0.0,0.000000,0.0,0.217222,0.50,0

In [26]:
def split_data(df, split_size):
    X = df.iloc[:, :-1]  # Using all column except for the last column as X
    Y = df.iloc[:, -1]  # Selecting the last column as Y

    X_train, X_test, Y_train, Y_test = train_test_split(
        X, Y, test_size=(100-split_size)/100)

    return X_train, X_test, Y_train, Y_test

In [27]:
(X_train, X_test, Y_train, Y_test) = split_data(df, 80)

In [14]:
def lr_param_selector(solver,penalty,C,max_iter):
    C = np.round(C, 3)
    params = {"solver": solver, "penalty": penalty, "C": C, "max_iter": max_iter}

    model = LogisticRegression(**params)
    return model

In [17]:
def rf_param_selector(criterion,n_estimators,max_depth,min_samples_split,max_features):

    params = {
        "criterion": criterion,
        "n_estimators": n_estimators,
        "max_depth": max_depth,
        "min_samples_split": min_samples_split,
        "max_features": max_features,
        "n_jobs": -1,
    }

    model = RandomForestClassifier(**params)
    return model

In [270]:
model = lr_param_selector("saga", "l1", 1.3, 750)

In [28]:
model = rf_param_selector("gini", 70, 16, 3, "log2")

In [19]:
def train_model(model, x_train, y_train, x_test, y_test):
    model.fit(x_train, y_train)
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    train_accuracy = np.round(accuracy_score(y_train, y_train_pred), 3)
    train_f1 = np.round(f1_score(y_train, y_train_pred, average="weighted"), 3)

    test_accuracy = np.round(accuracy_score(y_test, y_test_pred), 3)
    test_f1 = np.round(f1_score(y_test, y_test_pred, average="weighted"), 3)

    return model, train_accuracy, train_f1, test_accuracy, test_f1

In [29]:
(model, train_accuracy, train_f1, test_accuracy, test_f1) = train_model(model, X_train, Y_train, X_test, Y_test)

In [30]:
print(test_accuracy)
print(train_accuracy)

0.821
0.895

In [31]:
test = pd.read_csv("test.csv")
test=pre_proses_data(test)
test2=test.drop(['booking_status'],axis=1)
t=model.predict(test2)
print(t)

[1 1 0 ... 1 0 0]

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_20392\1315307739.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname, colval) in df.iteritems():
C:\Users\Mohamed\AppData\Local\Temp\ipykernel_20392\1415089235.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (colname, colval) in df.iteritems():
C:\Users\Mohamed\AppData\Local\Temp\ipykernel_20392\575281343.py:13: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df_norm = pd.concat((df_norm, y), 1)

In [32]:
y_test=test['booking_status']
y_test=y_test.transpose()
y_test=np.array(y_test)
print(y_test)

[0 1 0 ... 0 0 0]

In [33]:
y_test_pred = model.predict(test2)

accuracy = np.round(accuracy_score(y_test, y_test_pred), 3)

In [34]:
print(accuracy)

0.774